{% for i in groups['kafka'] %}
{% set app_port_range = app_port_range + 1 %}
{% if i == hostvars[inventory_hostname]['ansible_default_ipv4']['address'] %}
server.{{loop.index}}={{invent_hostname}}:28{{app_port_range}}:38{{app_port_range}} 
{% else %}
server.{{loop.index}}={{i}}:28{{app_port_range}}:38{{app_port_range}}    
{% endif %}
{% endfor %}
