#main_nodes_ips: "{{ groups['kafka'] | map('extract', hostvars, ['inventory_hostname']) | join(',')}}"
{% for i in groups['kafka'] %}
IP{{ loop.index0 }}={{ hostvars[i]['inventory_hostname'] }}
{% endfor %}